body{
    background-color: rgb(240, 240, 240);
    font-family: 'Rubik', sans-serif;
}

#gameName{
    font-size: 2.8em;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-family: 'Rubik', cursive;
    margin: 0;
    padding: 0.5em;
    color: white;
    background-color: rgb(155, 27, 27); 
}

#container{
    width: 60vh;
    height: 80vh;
    display: flex;
    flex-flow: column;
    background-color: white;
    margin: auto;
    margin-top: 3vh;
    padding: 1vw;
    border-radius: 10px;
    background-color: #b32020;
}

.containerRow{
    flex-grow: 1;
    display: flex;
    flex-flow: row;
}

#display{
    height: 15vh;
}

input{
    width: -webkit-fill-available;
    font-size: 7vh;
    text-align: right;
    border-radius: 10px;
    border-style: none;
    border-radius: 7px;
    margin: 2vh;
    padding: 0 1.1vh 0 1.1vh;
    outline: none;

}

button{
    width: -webkit-fill-available;
    font-size: 7vh;
    margin: 1.6vh;
    border-radius: 20%;
    border-style: none;
    user-select: none;
    outline: none;
}

button:hover{
    background-color: gray;
}
